
body {
  font-family: 'Graphik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-header {
  background-color:#f1f8fc ;
  text-align: center;
 }
 
header .card-title {
  text-align: center;
  color:#82b864;
  font-weight: bold; 
  font-size: 1.25rem; 
  margin: 10px;
  margin-bottom: 10px;
}

  .card {
    width: 90%;
    max-width:350px;
    margin: 20px auto;
  }
  .card-body {
    padding: 15px; 
    
  }
 
  h5{
    font-size: 0,5rem;
  }


  .btn-primary-custom {
    display: block;
    width: 100%;
    margin-top: 10px; 
    background-color: #0074c7; 
    color: #ffffff; 
    
      &:hover {
        background-color:#82b864;
        color: #ffffff;
      }
    }

// Media queries pour les tablettes et les ordinateurs
@media (min-width: 768px) {
  .card {
    width: 47%;
  } 


    .card-title{ 
      font-size: 1.4rem; 
    }
    .card-text {
      font-size: 1.2rem; 
    }
}

@media (min-width: 1024px) {
  .card {
    max-width:450px;
   
  } 
  .card-title{ 
    font-size: 1.5rem; 
  }
  .card-text {
    font-size: 1.3rem; 
  }
 
}
