.contact-form {
    max-width: 90%;
    margin: 50px auto; 
    padding: 15px;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
  
    label {
      display: block;
      margin-bottom: .5rem;
      color: #384050;
    }
  
    input[type="text"],
    textarea {
      width: 100%; 
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      margin-bottom: 15px;
    }
  
    button[type="submit"] {
      width: 100%; 
      background-color:#0074c7 ;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
     

      &:hover {
        background-color: #00497c;
      }
    }
  }
  
  // Media queries pour ecrans plus grands
  @media (min-width: 768px) {
    .contact-form {
      max-width: 600px; 
      padding: 30px;
    }
  
    .form {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
  
      div {
        margin-bottom: 20px;
      }
  
      input[type="text"],
      textarea {
        padding: 10px; 
        margin-bottom: 20px; 
      }
  
      button[type="submit"] {
        padding: 10px 20px; 
      }
    }
  } 