//@font-face {
  //font-family: 'Graphik';
  

//Mobile first
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Graphik', sans-serif;
}
.navbar-toggler {
  border-color: #0074c7;
  border-width: 2px;
  order: 0;
} 

.search-form {
  position: relative; 
  order: 1; 
  display: flex;
  align-items: center;

  .form-control.search {
    order:2 ; 
  }
  .search-button {
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    order: 4;
    cursor: pointer;
    .search-icon {
      height: 25px;
      width: auto;
   
    }
  }
}
.navbar-collapse {
  display: flex; 
  order: 3;
 
}
.navbar-nav {
  justify-content: flex-start; 
    text-align: left; 
  }

img {
  height: 150px;
  width: auto;
}
.nav-item {
  margin: 10px 0; 
  color: #0074c7;
  font-weight: bold;
  text-align: center;

  .nav-link {
    color: inherit;
    &:hover {
      color: #00497c;
      }
      &.active {
        color: #00497c !important;
      }
    }
  }


// Media querie pour tablette
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-collapse {
    display: flex; 
  }

  .nav-item {
    margin-right: 40px;
    margin: 0; 
  }

  .navbar-brand img {
    height: 150px; 
  }
  }


// Media querie pour desktop
@media (min-width: 1024px) {
  .navbar-brand img {
    height: 150px;
    padding-left: 60px;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }
  .nav-item {
    margin-right: 60px; 
  }
 
  input, .form-control  {
   margin-right: 60px;
  }
  
  .search-button {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
  
    .search-icon {
      height: 25px; 
      width: auto;
      margin-right: 60px;
    }
  } 
}