body {
  font-family: 'Graphik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  color: #00497c;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  font-size: 1.5rem;
}

main {
  .comment-trouver {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;

    h2 {
      color: #0074c7;
      font-size: 1.25rem;
      margin: 25px;
      text-align: center;
      font-weight: 600;
    }

    ol {
      padding-left: 20px;
      margin-top: 20px;

      li {
        margin-bottom: 8px;
     
        
      }
    }
  }

  h2 {
    text-align: center;
    color: #cd2c2e;
    font-weight: bold;
    margin: 40px;
  }
}
.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

  .card {
    width: 100%; // Pleine largeur sur mobile
    max-width: 350px;
    margin: 10px auto;
  }


// Media queries pour les tablettes
@media (min-width: 768px) {
  header h1 {
    font-size: 1.9rem;
    margin: 40px;
  }

  main .comment-trouver {
    padding: 20px;
    margin: 20px auto;
    max-width: 720px;

  
    h2 {
      font-size: 1.5rem;
    }

    ol {
      margin-left: 5rem;
    }
    li {
      font-size: 1.2rem; 
    }
  }


}

// Media queries pour ordinateurs
@media (min-width: 1024px) {
  header h1 {
    font-size: 2.3rem;
  }
  main .comment-trouver li {
    font-size: 1.3rem; 
  }
  .container-card .card {
    width: calc(33.333% - 20px);
  }
  
}
